/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-dot {
  background-image: url(../images/sprite.png);
  background-position: -40px 0px;
  width: 19px;
  height: 18px;
}
.icon-dot_act {
  background-image: url(../images/sprite.png);
  background-position: -40px -18px;
  width: 19px;
  height: 18px;
}
.icon-fancy_icon {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 40px;
  height: 40px;
}
